<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ir.burooj.basij">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".ApplicationClass"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme2"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">
        <activity android:name=".GroupShowActivity"></activity>
        <activity android:name=".groups.ListShowActivity" />
        <activity
            android:name=".ListGroupActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".video.VideoActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".DownloadNewVersion"
            android:screenOrientation="portrait"

            />
        <activity android:name=".SelectEducationalCalendarActivity" />
        <activity android:name=".VameActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".SettingActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".event.EventMainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme2">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="burooj.ir"
                    android:pathPattern="/api"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".event.EventsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".CompleteProfileActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".SelectServisActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ServisActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity android:name=".RegistrationFormActivity" />
        <activity
            android:name=".GettingUserNumber"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/getNumberTheme" />
        <activity
            android:name=".ImageZoom"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ImageZoom" />
        <activity
            android:name=".ShowListItemScrollingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_show_list_item_scrolling"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".SplashScreen"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>